<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
http://cxf.apache.org/jaxrs

http://www.springframework.org/schema/p ">

    <!-- Imported bean for dao -->
    <import resource="classpath:resources/dao.xml"/>

    <bean id="usersService" class="edu.palevobot.rest.UsersServiceJSON">
        <property name="usersJDBCDao" ref="usersJDBCDao"/>
    </bean>

    <jaxrs:server id="restContainer" address="/rest">
        <jaxrs:serviceBeans>
            <ref bean="usersService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <ref bean="preInvokeHandler"/>
            <ref bean="customExceptionMapper"/>
        </jaxrs:providers>
    </jaxrs:server>
</beans>