
.gradle/4.8/fileChanges/last-build.bin
.gradle/4.8/fileHashes/fileHashes.bin
.gradle/4.8/fileHashes/fileHashes.lock
.gradle/vcsWorkingDirs/gc.properties
.idea/codeStyles/Project.xml
.idea/workspace.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/
.gradle/
.out/
.idea/codeStyles/Project.xml
